.pc/
_build/
build/
obj-*/

debian/files
debian/substvars
debian/debhelper-build-stamp
debian/.debhelper/
debian/*.debhelper
debian/*.log
debian/*.substvars
debian/autoreconf.after
debian/autoreconf.before

debian/opi5plus-halhadus-config/
debian/tmp/

*.deb
*.udeb
*.dsc
*.changes
*.buildinfo
*.tar.gz
*.tar.xz
*.tar.bz2

*~
*.swp
.DS_Store
.vscode/
.idea/
