Source: armbian-opi5plus-halhadus-config
Section: admin
Priority: optional
Maintainer: Halhadus <eneshakans45@proton.me>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: armbian-opi5plus-halhadus-config
Architecture: arm64
Depends: ${misc:Depends}, 
    zstd, xz-utils, 
    clinfo, vulkan-tools, mesa-vulkan-drivers, glmark2-es2-drm, vkmark, glmark2-es2-wayland,
    lm-sensors, fastfetch, git, smartmontools, usbutils, pciutils,
    binutils, build-essential, meson, libtool, pkgconf, cmake, autoconf, automake,
    file,
    mpv,
    librga2, librga-dev, librockchip-mpp1, librockchip-mpp-dev, rockchip-mpp-demos, librockchip-vpu0,
    libv4l-0t64, libv4l-dev, libv4l-rkmpp,
    rockchip-multimedia-config,
    v4l-utils, qv4l2, qvidcap, ir-keytable, dvb-tools, libdvbv5-0t64, libdvbv5-dev,
    gstreamer1.0-rockchip1
Description: Orange Pi 5 Plus Halhadus Configuration Package
